@charset "utf-8";
/* CSS Document */

img, 
embed,
object,
video {
    max-width: 100%;
}

body,
td,
th,
p,
ul,
li {
	font: 16px/1.5 Arial, Helvetica, sans-serif;
	color: #333;
}

body {
	margin: 0;
}

a {
	color: orange;
	text-decoration: none;
    padding: 15px 3px;
}

a:hover, 
a:focus {
	color: #3397db;
	text-decoration: none;
}

a img {
	border: none 0 #fff;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 20px;
}

article, 
aside, 
canvas, 
details, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
menu, 
nav, 
section {
	display: block;
}

#maincontent {
    background-color: #f3f3f3;
}

#footer {
    background-color: #444;
    color: #aaa;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}


/* ====================== Navigation ====================== */
nav {
    background-color: #252831;
    text-align: center;
    padding: 10px;
}

nav h1 {
    margin: auto;
}

nav h1 a {
    color: #fff;
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 5px;
    text-transform: uppercase;
}

#breadcrumb {
    padding: 10px 15px;
    list-style: none;
    background-color: #eee;
    margin: 0;
    border-bottom: 1px solid #ddd;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}


/* ====================== Map ====================== */
#map {
    height: 300px;
    background-color: #ccc;
}


/* ====================== Restaurant Filtering ====================== */
.filter-options {
    background-color: #3397db;
    padding: 20px;
    text-align: center;
}

.filter-options h2 {
    color: white;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
}

.filter-options select {
    background-color: white;
    border: 1px solid #fff;
    font: 16px Arial, sans-serif;
    padding: 13px 10px;
    margin: 20px 0;
    width: 100%;
    
}


/* ====================== Restaurant Listing ====================== */
#restaurants-list {
    background-color: #f3f3f3;
    list-style: outside none none;
    padding: 15px 0;
    margin: 0;
    text-align: center;
}

#restaurants-list li {
    background-color: #fff;
    border: 2px solid #ccc;
    padding: 0 0 20px;
    margin: 25px;
}

#restaurants-list li h1 {
    color: #f18200;
    font: 200 18px/1.3 Arial, sans-serif;
    margin: 20px 10px 10px;
    text-transform: uppercase;
}

#restaurants-list p {
    margin: 0 15px;
    font-size: 17px;
}

#restaurants-list li a {
    background-color: orange;
    border-bottom: 3px solid #eee;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    margin: 15px 0 0;
    padding: 11px 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}


/* ====================== Restaurant Details ====================== */
#restaurant-name {
    color: #f18200;
    font: 200 26px Arial,sans-serif;
    margin: 15px 0 20px;
    text-transform: uppercase;
    text-align: center;
}

.restaurant-info {
     border: 2px solid #ccc;
    margin: 20px 0;
}

#restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0 0 20px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

#restaurant-address {
    background-color: #3397db;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 0;
}

#restaurant-container, 
#reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    padding: 20px;
}

#restaurant-container img {
    border-radius: 3px;
}

#reviews-container {
    padding: 20px;
}

#reviews-container h2 {
    color: #f58500;
    font-size: 32px;
    font-weight: 300;
    padding: 0 0 2px;
    text-align: center;
}

#reviews-list {
    margin: 0;
    padding: 0;
}

#reviews-list li {
    background-color: #fff;
    border: 2px solid #ccc;
    list-style-type: none;
    margin: 20px 0;
    overflow: hidden;
    border-radius: 25px 0 25px 0;
}

#restaurant-hours {
    color: #666;
    background-color: #fff;
    width: 100%;
    padding: 10px;
}

#restaurant-hours td {
    padding: 0 5px 0 0;
}

.review_header {
    background-color: #333;
    color: #ddd;
    padding: 15px 20px;
}

.review_author {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}

.review_date {
    float: right;
}

.review_rating_container {
    margin: 20px 15px 15px;
}

.review_rating {
    background-color: #f58500;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
}

.review_content {
    margin: 0 0 10px;
    padding: 0 20px;
}